.overlay-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  max-width: 800px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  z-index: 1;
  border-radius: 10px;
}

.select-form-field {
  margin: 20px 0px 20px 20px;
}

.input-form-field {
  padding-left: 20px;
  width: 150px;
}

.date-picker-form-field {
  margin: 30px;
}

.get-button {
  margin: 25px;
  margin-top: 10px;

  justify-content: center;
  align-items: center;
  height: 40px;
}

.center {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

@media (max-width: 768px) {
  .overlay-container {
    width: 100%;
    max-width: none;
  }
}
