.overlay-container {
  background-color: rgba(255, 255, 255, 0.8);
  /* Light-colored background with 40% transparency */
  width: 100%;
  /* Use a percentage for width */
  max-width: 800px;
  /* Set a maximum width */

  height: auto;
  /* Allow height to adjust based on content */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  /* Center the component horizontally and vertically */
  z-index: 1;
  /* Place the overlay above the background */
  border-radius: 10px;
}

.select-form-field {
  margin: 20px 0px 20px 20px;
}

.input-form-field {
  padding-left: 20px;
  width: 150px;
}

.get-button {
  margin: 25px;
  margin-top: 10px;

  justify-content: center;
  align-items: center;
  height: 40px;
  /* You can adjust the height as needed */
}

.center {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.date-picker-form-field {
  margin: 30px;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .overlay-container {
    width: 100%;
    /* Adjust the width for smaller screens */
    max-width: none;
    /* Remove the maximum width */
  }
}
